@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media (min-width: 375px) and (max-width: 768px) {
  body {
    background-image: url(media/header-illsutration-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url(media/Header-llustration-desktopHeader.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
